<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGi_kTMs4DzN4W3ZDrK8_40meaM5XHDsRW2GpTiER-uQ&s" width="50px" height="50px">
    </a>
</nav><br>